// Inhenrance
// Variables
$palette-white-light: #dfe1e5;
$palette-white-medium: #d9d9d9;
$palette-white-main: #fff;
$palette-gray-light: #f8f9fa;
$palette-gray-medium: #c0c0c0;
$palette-gray-dark: #3c4043;
$palette-black-light: rgba(0,0,0,0.87);
$palette-blue-main: #4d90fe;
$palette-blue-dark: #3079ed;
$font-size-anchor: 13px;
$font-size-button: 14px;
$font-size-search: 16px;

body{
    font-family: Arial, Helvetica, sans-serif;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    margin: 15px;

    a{
        text-decoration: none;
        padding: 0 5px;
        font-size: $font-size-anchor;
        color: $palette-black-light;
    }
 }

img{
    height: 100%;
    padding-bottom: 4vh;
}

.form-search{
    display: flex;
    flex-direction: column;
    
    #search{
        width: 70vh;
        padding: 1.7vh;
        font-size: $font-size-search;
        border: 1px solid $palette-white-light;
        border-radius: 24px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons{
    display: inline-flex;
    justify-content: center;

  input{
    padding: 1.5vh;
    margin: 30px 15px;
    border: none;
    border-radius: 5px;
    background-color: $palette-gray-light;
    color: $palette-gray-dark;
    font-size: $font-size-button;
  }
}

.advanced{
    input{
        padding: 1.2vh;
        background-color: $palette-blue-main;
        color: $palette-white-main;
        border: 1px solid $palette-blue-dark;
    }
}

.advanced-form{
    display: grid;
    grid-template-columns: 200px 60%;
    grid-row-gap: 10px;

    
    label, input{
        padding: 5px;
        text-align: left;
    }
    
    input{
        border: 1px solid $palette-white-medium;
        border-top: 1px solid $palette-gray-medium;
        width: 50%;
        height: 25px;
        padding: 1px 8px;
        font-size: 13px;

    }

    input:focus {
        outline: none !important;
        border: 1px solid $palette-blue-main;
    }
}




