body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}
.toolbar a {
  text-decoration: none;
  padding: 0 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container img {
  height: 100%;
  padding-bottom: 4vh;
}

.buttons {
  display: inline-flex;
  justify-content: center;
}
.buttons input {
  padding: 1.5vh;
  margin: 30px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #3c4043;
  font-size: 14px;
}
.buttons input:focus {
  outline: none;
}

.advanced-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #f1f1f1;
  height: 60px;
}
.advanced-toolbar a {
  text-decoration: none;
  padding: 0 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}
.advanced-toolbar img {
  height: 60%;
  width: auto;
}

.header {
  border-bottom: 1px solid #d9d9d9;
  padding: 25px 0;
  margin-bottom: 35px;
}
.header label {
  color: #d93025;
  font-size: 20px;
  margin: 0 35px;
}

.form-search {
  display: flex;
  flex-direction: column;
}
.form-search input:-webkit-autofill,
.form-search input:-webkit-autofill:hover,
.form-search input:-webkit-autofill:focus,
.form-search input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fff inset !important;
}
.form-search #search {
  width: 70vh;
  padding: 1.7vh;
  font-size: 16px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}
.form-search #search:hover {
  box-shadow: 0 1px 6px #c0c0c0;
  background-color: #fff;
}
.form-search #search:focus {
  outline: none;
}

.container-advanced {
  padding: 0 35px;
}
.container-advanced .advanced-form {
  padding-top: 10px;
  width: 50%;
}
.container-advanced .advanced-form .advanced-form-items {
  display: grid;
  grid-template-columns: 200px 117%;
  grid-row-gap: 10px;
}
.container-advanced .advanced-form .advanced-form-items label, .container-advanced .advanced-form .advanced-form-items input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
}
.container-advanced .advanced-form .advanced-form-items input {
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  width: 60%;
  height: 25px;
  padding: 1px 8px;
  font-size: 13px;
}
.container-advanced .advanced-form .advanced-form-items input:focus {
  outline: none !important;
  border: 1px solid #4d90fe;
}
.container-advanced .advanced-form .button-advanced {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  width: 93.5%;
}
.container-advanced .advanced-form .button-advanced input {
  margin-right: 0;
  padding: 1vh;
  border: none;
  border-radius: 5px;
  background-color: #4d90fe;
  color: #fff;
  border: 1px solid #3079ed;
  font-size: 11px;
  font-weight: bold;
}
.container-advanced .advanced-form .button-advanced input:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
