$palette-white-light: #dfe1e5;
$palette-white-medium: #d9d9d9;
$palette-white-main: #fff;
$palette-gray-light: #f8f9fa;
$palette-gray-main: #f1f1f1;
$palette-gray-medium: #c0c0c0;
$palette-gray-dark: #3c4043;
$palette-black-light: rgba(0,0,0,0.87);
$palette-blue-main: #4d90fe;
$palette-blue-dark: #3079ed;
$palette-red-main: #d93025;
$font-size-anchor: 13px;
$font-size-search: 16px;
$font-size-header: 20px;
$font-size-button-advanced: 11px;
$font-size-button-main: 14px;

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    margin: 15px;

    a{
        text-decoration: none;
        padding: 0 5px;
        font-size: $font-size-anchor;
        color: $palette-black-light;
    }
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    img{
        height: 100%;
        padding-bottom: 4vh;
    }
}

.buttons{
    display: inline-flex;
    justify-content: center;
    
    input{
        padding: 1.5vh;
        margin: 30px 15px;
        border: none;
        border-radius: 5px;
        background-color: $palette-gray-light;
        color: $palette-gray-dark;
        font-size: $font-size-button-main;

        &:focus{
            outline: none;
        }  
    }
}

.advanced-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: $palette-gray-main;
    height: 60px;

    a{
        text-decoration: none;
        padding: 0 5px;
        font-size: $font-size-anchor;
        color: $palette-black-light;
    }

    img{
        height: 60%;
        width: auto;
    }
}

.header{
    border-bottom: 1px solid $palette-white-medium;
    padding: 25px 0;
    margin-bottom: 35px;

    label{
        color: $palette-red-main;
        font-size: $font-size-header;
        margin: 0 35px;
    }
}

.form-search{
    display: flex;
    flex-direction: column;
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active
    {
    box-shadow: 0 0 0 30px $palette-white-main inset !important;
    }
 
    #search{
        width: 70vh;
        padding: 1.7vh;
        font-size: $font-size-search;
        border: 1px solid $palette-white-light;
        border-radius: 24px;
        
        &:hover{
            box-shadow: 0 1px 6px $palette-gray-medium;
            background-color: $palette-white-main;
        }

        &:focus{
            outline: none;
        }     
    }
}

.container-advanced{
    padding: 0 35px;
    
    .advanced-form{
        padding-top: 10px;
        width: 50%;
        
        .advanced-form-items{
            display: grid;
            grid-template-columns: 200px 117%;
            grid-row-gap: 10px;
         
            label, input{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: $font-size-anchor;
            }
            
            input{
                border: 1px solid $palette-white-medium;
                border-top: 1px solid $palette-gray-medium;
                width: 60%;
                height: 25px;
                padding: 1px 8px;
                font-size: $font-size-anchor;
    
                &:focus{
                    outline: none !important;
                    border: 1px solid $palette-blue-main;
                }
            }
        }

        .button-advanced{
            padding-top: 10px;
            justify-content: flex-end;
            display: flex;
              input{
                  margin-right: 0;
                  padding: 1vh;
                  border: none;
                  border-radius: 5px;
                  background-color: $palette-blue-main;
                  color: $palette-white-main;
                  border: 1px solid $palette-blue-dark;
                  font-size: $font-size-button-advanced;
                  font-weight: bold;

                  &:focus{
                    outline: none;
                }
              }
          }
        
    }
}


  



